%font-content {
  font-family: $base-font-family;
  font-style: $base-font-style;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
}

%heading {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  letter-spacing: $headings-letter-spacing;
}
