node_modules/

dist/

.DS_Store
Thumbs.db
.idea/

.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

*.sublime-project
*.sublime-workspace
*.log

.eslintcache
