@import "~normalize.css/normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  color: $body-color;
}

body {
  @extend %font-content;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font-heading;

  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
}
